<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Flat Login Form 3.0</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>  
</head>

<body>
  
<div class="pen-title">
  <h1>Login Form</h1>
  <span>
    <i class='fa fa-code'></i> by <a href='javascript:void(0);'>Alexey Kobzev</a>
  </span>
</div>

<div class="module form-module">
  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
    <div class="tooltip"></div>
  </div>

  <div class="form" [hidden]="true">
    <h2>Login to your account</h2>
    <form>
      <input type="text" placeholder="Username"/>
      <input type="password" placeholder="Password"/>
      <button>Login</button>
    </form>
  </div>

  <div class="form">
    <h2>Create an account</h2>
    <form #regForm="ngForm" (ngSubmit)="onSubmit(regForm.value)">
      <input type="text" placeholder="Username" name="username" minlength="6" maxlength="10" pattern="[a-zA-Z_0-9]*" required #nameRef="ngModel" ngModel/>
      <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
        <div [hidden]="!nameRef.errors.pattern">
          <strong>• Please enter a valid username (letters, numbers and lodash only)</strong>
        </div>
        <div [hidden]="!nameRef.errors.required">
          <strong>• Please enter a username</strong>
        </div>
        <div [hidden]="!nameRef.errors.minlength">
          <strong>• Please enter at least 6 characters</strong>
        </div>
      </div>
      
      <input type="password" placeholder="Password" name="password" minlength="6" maxlength="10" required #passRef="ngModel" ngModel/>
      <div *ngIf="passRef.errors && (passRef.dirty || passRef.touched)" class="alert alert-danger">
        <div [hidden]="!passRef.errors.required">
          <strong>• Please enter a password</strong>
        </div>
        <div [hidden]="!passRef.errors.minlength">
          <strong>• Please enter at least 6 characters</strong>
        </div>
      </div>

      <input type="email" placeholder="Email Address" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #emailRef="ngModel" ngModel/>
      <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
        <div [hidden]="!emailRef.errors.required">
          <strong>• Please enter an email</strong>
        </div>
        <div [hidden]="!emailRef.errors.pattern">
          <strong>• Please enter a valid email address</strong>
        </div>

      </div>

      <button [disabled]="!regForm.form.valid" type="submit">Register</button>
    </form>

  </div>
  <div class="cta"><a href="javascript:void(0);">Forgot your password?</a></div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type="text/javascript">
    // Toggle Function
    $('.toggle').click(function(){
      // Switches the Icon
      $(this).children('i').toggleClass('fa-pencil');
      // Switches the forms  
      $('.form').animate({
        height: "toggle",
        'padding-top': 'toggle',
        'padding-bottom': 'toggle',
        opacity: "toggle"
      }, "slow");
    });
  </script>

</body>
</html>
